body{
    background-image: url('/web/images/bg10.jpg');
    background-repeat: no-repeat;
    text-align: center;
    background-size:cover;
}
.blue{
    text-align: center;
}
.username {
    text-align: center;
}
#new{  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}#new1{

    text-align: center;
}