body{
    background-image: url('/web/images/b012.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    
}

.para{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#facts{
    text-align: center;
    
}
#new {              
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}
#quote{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;

}
#home{
    text-align: 100px;
    

}