/* body {
 
    background-image: url("/web/images/DBEMS.jpg");
    background-repeat: no-repeat;
    background-size: 1100px 520px;
    display:flex; flex-direction:column;
} */

article{ flex:1; }

header{

    background-color: rgba(0, 0, 0, 0.868);
    text-align: center;
color: white;
}

.pen{

    background-image: url("/web/images/DBEMS.jpg");
    background-repeat: no-repeat;
    background-size: 11px 5px;

}


footer{ min-height:50px;  }

#quote {
    background-color: #42414D;
    
    text-align: center;
    color: aliceblue;
}
.a .b {
    width: 31.3%;
    float: left;
    margin: 1%;


}

.image1{
    height: 500px; 
    /* says the height of the image */

    border: 3px solid rgb(0, 0, 0) ;  
    border-radius: 100px;                              
    /* makes the border */
 
 
    background: url('/web/images/mental\ health.png');
    
    background-repeat: no-repeat;
    /* dosent repeat the background */
    
    background-position: center;
    
    background-size: contain;
    /* says the size of the background */

    text-align: center;
}

.facts{
    text-align: center;
}

#login {
    height: 100px; 
    border-image-width: 150px;
    


}
#moto {
    text-align: center;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;

}

div{
text-align: center;

}