body {
 
    background-image: url("/web/images/DBEMS.jpg");
    background-repeat: no-repeat;
    background-size: 1100px 520px;
    display:flex; flex-direction:column;
}

article{ flex:1; }

header{

    background-color: blue;
    text-align: center;
color: white;
}

.pen{

    background-image: url("/web/images/DBEMS.jpg");
    background-repeat: no-repeat;
    background-size: 11px 5px;

}


footer{ min-height:50px;  }

.imagee{

    background-image: url(/web/images/ranger-4df6c1b6.png);
}