
body { 

   
    background-image: url("/web/images/ranger-4df6c1b6.png");

    
}

.insttructions {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    

}

.ol {
    border: 1px solid #07e630;
}


  .headero{
background-color: blue;
text-align: center;


  }
  h2{

text-decoration: underline;
  }

  div{

    background-image: url(/web/images/ranger-4df6c1b6.png);
    width: 100%;
    height: auto;
}