
body { 

   
    background-image: url("/web/images/white.webp");

    
}

.insttructions {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial; 

}

.ol {
    border: 1px solid #665544;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}